<section>
    <div class="container mt-3">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody *ngIf="list.length > 0">
                <tr *ngFor="let item of list">
                    <td>{{ item.name }}</td>
                    <td>{{item.description}}</td>
                    <td>{{ item.price | currency:'INR' }}</td>
                    <td class="text-center"><button class="btn btn-danger btn-sm" (click)="deleteItem(item.id)"><i
                                class="fa fa-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="list.length == 0">
            <h6 class="text-center mt-5" style="font-size: 1.3rem;">No Items found in the cart 🥺</h6>
        </div>

    </div>
</section>